body{
    display: grid;
    grid-template-areas: 
    "header header"
    ". search"
    "locations map"
    ;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header{
    grid-area: header;
}

.search{
    grid-area: search;
}

#map{
    grid-area: map;
}

