body {
    display: grid;
    grid-template-areas:
        "header header"
        ". search"
        "locations map"
    ;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
    grid-area: header;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgb(69, 156, 243);
}

.title {
    font-size: 1.5em;
}

.copy,
.share {
    background-color: black;
    color: white;
    margin: 10px;
}

.btn-add-marker,.btn-user-pos {
    background: none;
    border: none;
    font-size: 1.4em;
}

.search {
    grid-area: search;
    text-align: right;
    margin: 15px;
}

#map {
    grid-area: map;
}

